In [52]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
import ta
from ta import add_all_ta_features
from ta.utils import dropna
import seaborn as sns
import numpy as np
import statsmodels.api as sm
from statsmodels.tsa.stattools import adfuller, acf, pacf
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from main import add_classic_indicators, get_euronext_tickers, get_stock_data, add_fin_ratios_and_commodities
from alpha101 import add_artificial_variables
from arch import arch_model
import itertools
from tqdm import tqdm
from sklearn.preprocessing import MinMaxScaler

In [67]:
euro_tickers = get_euronext_tickers()
data = get_stock_data(euro_tickers[0])
data.head()

            Open  High   Low  Close  Volume   Returns  Log Returns
2018-06-22  9.00  9.68  8.90   9.50  677679       NaN          NaN
2018-06-25  9.66  9.80  9.10   9.32  102472 -0.018947    -0.019129
2018-06-26  9.56  9.56  9.14   9.22   35033 -0.010730    -0.010788
2018-06-27  9.20  9.34  9.10   9.28   53496  0.006508     0.006486
2018-06-28  9.28  9.28  9.20   9.28    4160  0.000000     0.000000

             Open   High    Low  Close  Volume   Returns  Log Returns
2017-11-28  2.050  2.073  2.038  2.068       0       NaN          NaN
2017-11-29  2.088  2.116  2.088  2.093       0  0.012089     0.012016
2017-11-30  2.109  2.156  2.104  2.144       0  0.024367     0.024075
2017-12-01  2.124  2.171  2.068  2.118       0 -0.012127    -0.012201
2017-12-04  2.148  2.161  2.139  2.148       0  0.014164     0.014065
...           ...    ...    ...    ...     ...       ...          ...
2022-11-21  3.996  4.022  3.945  4.008       0  0.002000     0.001998
2022-11-22  3.957  3.969  3.929  3.938       0 -0.017465    -0.017619
2022-11-23  3.972  4.000  3.889  3.892       0 -0.011681    -0.011750
2022-11-25  3.917  3.951  3.859  3.870       0 -0.005653    -0.005669
2022-11-28  3.875  3.896  3.861  3.872       0  0.000517     0.000517

[1259 rows x 7 columns]

In [68]:
add_fin_ratios_and_commodities(data)

             Open   High    Low  ...  Log Returns   Gold Close  Oil Close
2018-06-22  9.000  9.680  8.900  ...          NaN  1267.400024  68.580002
2018-06-25  9.660  9.800  9.100  ...    -0.019129  1265.599976  68.080002
2018-06-26  9.560  9.560  9.140  ...    -0.010788  1256.599976  70.529999
2018-06-27  9.200  9.340  9.100  ...     0.006486  1252.800049  72.760002
2018-06-28  9.280  9.280  9.200  ...     0.000000  1247.800049  73.449997
...           ...    ...    ...  ...          ...          ...        ...
2022-11-21  2.660  2.660  2.560  ...    -0.001921  1737.400024  79.730003
2022-11-22  2.600  2.625  2.560  ...     0.009569  1738.300049  80.949997
2022-11-23  2.560  2.600  2.560  ...    -0.023122  1744.900024  77.940002
2022-11-24  2.565  2.635  2.560  ...     0.000000          NaN        NaN
2022-11-25  2.565  2.565  2.565  ...     0.000000  1753.300049  76.279999

[1139 rows x 9 columns]

In [64]:
data.join(get_stock_data('GC=F')["Close"])

ValueError: columns overlap but no suffix specified: Index(['Close'], dtype='object')

In [56]:
add_fin_ratios_and_commodities(data).head()

                           Open  High   Low  ...   Returns  Log Returns  Gold Close
Date                                         ...
2018-06-22 00:00:00+02:00  9.00  9.68  8.90  ...       NaN          NaN         NaN
2018-06-25 00:00:00+02:00  9.66  9.80  9.10  ... -0.018947    -0.019129         NaN
2018-06-26 00:00:00+02:00  9.56  9.56  9.14  ... -0.010730    -0.010788         NaN
2018-06-27 00:00:00+02:00  9.20  9.34  9.10  ...  0.006508     0.006486         NaN
2018-06-28 00:00:00+02:00  9.28  9.28  9.20  ...  0.000000     0.000000         NaN

[5 rows x 8 columns]

In [50]:
data = add_classic_indicators(data)
data.tail()

                            Open   High  ...  others_dlr  others_cr
Date                                     ...
2022-11-21 00:00:00+01:00  2.660  2.660  ...   -0.192127 -72.631580
2022-11-22 00:00:00+01:00  2.600  2.625  ...    0.956949 -72.368421
2022-11-23 00:00:00+01:00  2.560  2.600  ...   -2.312240 -72.999999
2022-11-24 00:00:00+01:00  2.565  2.635  ...    0.000000 -72.999999
2022-11-25 00:00:00+01:00  2.565  2.565  ...    0.000000 -72.999999

[5 rows x 123 columns]

In [41]:
data = add_artificial_variables(data)
data.tail()

                            Open   High    Low  ...   alpha96  alpha99   alpha101
Date                                            ...
2022-11-21 00:00:00+01:00  2.660  2.660  2.560  ... -0.673426       -1 -26.075300
2022-11-22 00:00:00+01:00  2.600  2.625  2.560  ... -0.765591       -1   0.378789
2022-11-23 00:00:00+01:00  2.560  2.600  2.560  ... -0.438634       -1 -61.792076
2022-11-24 00:00:00+01:00  2.565  2.635  2.560  ... -0.628495       -1   0.000000
2022-11-25 00:00:00+01:00  2.565  2.565  2.565  ... -0.628495       -1   0.000000

[5 rows x 194 columns]

In [46]:
import datetime as dt
from dateutil.relativedelta import relativedelta
import pandas_datareader.data as web
today = dt.datetime.now()
start =  today - relativedelta(years=5)
wti_oil_price = web.DataReader('DCOILWTICO', 'fred', start, today)
wti_oil_price.tail()

            DCOILWTICO
DATE
2022-11-15       86.87
2022-11-16       85.62
2022-11-17       81.69
2022-11-18       80.07
2022-11-21       79.74

In [ ]:
#determiner
#rolling beta sur plusieurs unités de temps dynamic beta
#https://goldinlocks.github.io/ARCH_GARCH-Volatility-Forecasting/
https://github.com/Taaniya/Stock-Price-Returns-Prediction/blob/master/Prediction_AXISBANK.ipynb

In [ ]:
#https://pub.towardsai.net/statistical-forecasting-for-time-series-data-part-5-arma-garch-model-for-time-series-forecasting-98beeedcfba8
#https://github.com/yashveersinghsohi/Statistical_Modeling_for_Time_Series_Forecasting/tree/master/Returns%20Models
#https://pub.towardsai.net/statistical-forecasting-for-time-series-data-part-6-forecasting-non-stationary-time-series-using-9acc28c39db9
#https://stackoverflow.com/questions/55882111/arima-model-for-certain-lags
#garch sur residuals de l'arima
#tester oubli de certains lags et ajout optimisation des parametres
#https://ionides.github.io/531w18/midterm_project/project38/Midterm_proj.html

In [ ]:
#stationnaire => pas de saisonnalité, aléatoire mais de moyenne constante, ne dépend pas du temps
#test de stationnarité : si la série est non stationnaire => elle possede une tendance et saisonnalité, et dépend du temps (p>0.05)

AdfResult1 = adfuller(data['Close'])
print ("Original P value:",AdfResult1[1]) 

#donc la série est non stationnaire et on doit la différencier pour utiiser arima
data['log_diff_data'] = np.log(data['Close'].values)
data['log_diff_data'] = data['log_diff_data'].diff(1)
AdfResult2 = adfuller(data['log_diff_data'].dropna())
print ("Differenced p value:",AdfResult2[1]) 

plot_acf(data['log_diff_data'].dropna()**2, lags=150,zero=False)
plt.show()

plot_pacf(data['log_diff_data'].dropna()**2, lags=150,zero=False)
plt.show()

In [ ]:
pacf_auto_corr, pacf_conf_int = pacf(data['log_diff_data'].dropna()**2, alpha=.05, nlags=365)
pacf_blue_area = pacf_conf_int - np.array([pacf_auto_corr,pacf_auto_corr]).T
neg_pacf_blue_area, pos_pacf_blue_area = pacf_blue_area.T
pacf_sig_lags = np.where(np.abs(pacf_auto_corr) > 2*np.abs(pos_pacf_blue_area[5]))[0]
pacf_usable_lags_binary = np.zeros(np.max(pacf_sig_lags)+1)
pacf_usable_lags_binary[significant_index] = 1
print(pacf_sig_lags)
plt.plot(neg_pacf_blue_area)
plt.plot(pacf_auto_corr)
plt.plot(pos_pacf_blue_area)
plt.show()

acf_auto_corr, acf_conf_int = acf(data['log_diff_data'].dropna()**2, alpha=.05, nlags=365, fft=True)
acf_blue_area = acf_conf_int - np.array([acf_auto_corr,acf_auto_corr]).T
neg_acf_blue_area, pos_acf_blue_area = acf_blue_area.T
acf_sig_lags = np.where(np.abs(acf_auto_corr) > 2*np.abs(pos_acf_blue_area[5]))[0]
acf_usable_lags_binary = np.zeros(np.max(acf_sig_lags)+1)
acf_usable_lags_binary[significant_index] = 1
print(acf_sig_lags)
plt.plot(neg_acf_blue_area)
plt.plot(acf_auto_corr)
plt.plot(pos_acf_blue_area)
plt.show()

In [ ]:
significant_index

In [ ]:
usable_lags_binary

In [ ]:
stats = pd.concat([model_fit.pvalues, model_fit.tvalues, pd.Series({'bic' : model_fit.bic}), pd.Series({'aic' : model_fit.aic})])

In [ ]:
model_fit.bic, model_fit.aic

In [ ]:
differenciation de la série tant que pas stationnaire

In [ ]:
train_df = data['log_diff_data'].loc[:"2022-05-31"]
test_df = data['log_diff_data'].loc["2022-06-01":]
test_df.shape, train_df.shape

In [ ]:
data['log_diff_data'].mean()

In [ ]:
feature garch n+1

In [ ]:
res = sm.tsa.seasonal_decompose(data['Close'],freq=365)
fig = res.plot()
fig.set_figheight(8)
fig.set_figwidth(15)
plt.show()

In [ ]:
corr_matrix = data.corr()
upperMatrix = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
corrFeatures = [column for column in upperMatrix.columns if any(upperMatrix[column] > 0.90)]
corrFeatures

In [ ]:
data.isna().sum().max()

In [ ]:
series lagguées a ajouter (come prix j-1 prix j-2)
https://github.com/GoldinLocks/Cryptocurrency-Research-/blob/master/predicting-crypto-prices-with-deep-learning.ipynb
    https://www.srose.biz/wp-content/uploads/2020/08/Deep-Learning-Performance-Part-3-Batch-Normalization-Dropout-Noise.html
    garch s

In [ ]:
calmar

In [ ]:
estimer risk ajuster avec medaf + vol