In [5]:
from main import add_custom_indicators
import yfinance as yf
nasdaq_tickers = ['TMUSR', 'AAPL', 'MSFT', 'AMZN', 'FB', 'GOOGL', 'GOOG', 'INTC', 'NVDA', 'ADBE',
               'PYPL', 'CSCO', 'NFLX', 'PEP', 'TSLA', 'CMCSA', 'AMGN', 'COST', 'TMUS', 'AVGO',
               'TXN', 'CHTR', 'QCOM', 'GILD', 'SBUX', 'INTU', 'VRTX', 'MDLZ', 'ISRG', 'FISV',
               'BKNG', 'ADP', '', 'ATVI', 'AMD', 'JD', 'MU', 'AMAT', 'ILMN', 'ADSK',
               'CSX', 'MELI', 'LRCX', 'ADI', 'ZM', 'BIIB', 'EA', 'KHC', 'WBA', 'LULU',
               'EBAY', 'MNST', 'DXCM', 'EXC', 'BIDU', 'XEL', 'WDAY', 'DOCU', 'SPLK', 'ORLY',
               'NXPI', 'CTSH', 'KLAC', 'SNPS', 'SGEN', 'ASML', 'IDXX', 'CSGP', 'CTAS', 'VRSK',
               'MAR', 'CDNS', 'PAYX', 'ALXN', 'MCHP', 'SIRI', 'ANSS', 'VRSN', 'FAST', 'BMRN',
               'XLNX', 'INCY','DLTR', 'SWKS', 'ALGN', 'CERN', 'CPRT', 'CTXS', 'TTWO', 'MXIM',
               'CDW', 'CHKP', 'WDC', 'ULTA', 'NTAP', 'FOXA', 'LBTYK']

In [6]:
data = yf.Ticker(nasdaq_tickers[9]).history(period='5y').drop(columns=['Dividends','Stock Splits'])

In [7]:
data = add_custom_indicators(data)

/Users/louisdelacour/opt/anaconda3/lib/python3.9/site-packages/ta/trend.py:780: RuntimeWarning: invalid value encountered in double_scalars
  dip[idx] = 100 * (self._dip[idx] / value)
/Users/louisdelacour/opt/anaconda3/lib/python3.9/site-packages/ta/trend.py:785: RuntimeWarning: invalid value encountered in double_scalars
  din[idx] = 100 * (self._din[idx] / value)

In [8]:
data

,Open,High,Low,Close,ema7,ema30,ema50,ema100,ema150,ema200,sma7,sma30,sma50,sma100,sma150,sma200
Date,,,,,,,,,,,,,,,,
2017-11-20 00:00:00-05:00,182.800003,183.429993,181.339996,182.339996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-21 00:00:00-05:00,183.750000,185.550003,182.839996,184.149994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-22 00:00:00-05:00,184.320007,184.500000,182.619995,182.899994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-24 00:00:00-05:00,182.960007,184.710007,182.960007,184.460007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-27 00:00:00-05:00,184.830002,185.839996,184.089996,185.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-11 00:00:00-05:00,330.339996,342.309998,329.489990,341.149994,316.164140,310.867762,320.514101,348.226107,373.485035,394.447790,306.194288,302.770999,311.140399,355.448400,372.028534,395.10185
2022-11-14 00:00:00-05:00,338.070007,345.109985,334.429993,340.369995,322.215603,312.771132,321.292764,348.070540,373.046425,393.909702,313.971431,304.608666,310.584999,355.085699,371.401400,394.21290
2022-11-15 00:00:00-05:00,348.410004,350.970001,342.559998,345.959991,328.151700,314.912349,322.260106,348.028747,372.687664,393.432590,322.572859,306.308332,310.138199,354.668099,370.862667,393.27120
2022-11-16 00:00:00-05:00,345.000000,345.019989,336.720001,338.410004,330.716276,316.428327,322.893435,347.838277,372.233656,392.885102,328.125715,307.675999,309.311999,354.241499,370.240933,392.28335
2022-11-17 00:00:00-05:00,331.739990,339.869995,329.350006,337.829987,332.494704,317.809079,323.479182,347.640093,371.777978,392.337290,333.219997,308.989998,308.395999,353.963499,369.690200,391.30705

In [ ]:
data.isna